---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-altera-*,-clang-*,-android-*,-linuxkernel-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-hicpp-signed-bitwise,-readability-identifier-length'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
